---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

/* === custom styles === */
.archive__item-title a {
color: #5b5b5b;
font-size: 1.1rem;
}
.author__avatar img {
border-radius: 20px;
}
.page__title {
font-size: 1.3rem;
}
